<section class="TodoItem">

    <div class="TodoItemTitle">
        <p class="TodoItemTitle__periodText"> <%= section_head %> </p>
        <p class="TodoItemTitle__completionText"> <%= todos.completed.count %>/<%= todos.count %> </p>
    </div>


    <ul class="TodoItemContent">
        <% todos.each do |todo| %>
            <li class="TodoItemContent__item">
                <label class="TodoItemContent__itemBlock">

                    <%= form_with(url: "/todos/#{todo.id}", method: "PUT", class: "TodoItemContent__checkboxForm") doi %>
                        <%= check_box_tag("completed",
                                            nil,
                                            todo.completed,
                                            class: "TodoItemContent__checkbox",
                                            onclick: "this.form.submit()") %>
                    <% end %>
                    <p class="TodoItemContent__task <%= todo.completed ? "strikeTextCotent" : "" %>" > <%= todo.todo_text %> </p>
                    <% if display_date %>
                        <p class="TodoItemContent__duedate"> <%= todo.due_date.to_s(:short) %> </p>
                    <% end %>
                    <a class="TodoItemContent__deleteAnchor" href="javascript:void(0)">
                        <%= form_with(url: "/todos/#{todo.id}", method: "DELETE", class: "TodoItemContent__deleteForm") do %>
                            <%= image_submit_tag("trash-can-outline.png", class: "TodoItemContent__deleteIcon") %>
                        <% end %>
                    </a>

                </label>
            </li>
        <% end %>
    </ul>

</section>
