<article>

    <h1 class="TodoPage__title">My To-do List</h1>

    <%= form_with(url: "/todos", method: "POST", class: "TodoAdd") do %>
        <%= text_field_tag("todo_text", nil, class: "TodoAdd__text", placeholder: "What's next?") %>
        <%= date_field_tag("due_date", nil, class: "TodoAdd__date") %>
        <%= submit_tag("Add", class: "TodoAdd__button") %>
    <% end %>

    <%= render partial: "todoitem-section", locals: {
        section_head: "Overdue",
        todos: Todo.overdue.not_completed,
        display_date: true
    } %>

    <%= render partial: "todoitem-section",  locals: {
        section_head: "Due Today",
        todos: Todo.due_today,
        display_date: false
    } %>

    <%= render partial: "todoitem-section", locals: {
        section_head: "Due Later",
        todos: Todo.due_later,
        display_date: true
    } %>

</article>
