<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section class="App__header">

        <div class="App__headerTop">
            <% if current_user %>
                <p class="App__userText"> Hey there, <%= current_user.firstname %> </p>
                <%= link_to("Sign Out", destroy_session_path, method: "delete", class: "App__signout") %>
            <% else %>
                <p class="App__userText"> Hey there, Guest</p>                
            <% end %>
        </div>
        <hr />

    </section>

    <%= yield %>
  </body>
</html>
